@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

/* INÍCIO CURSO */

.container--aula {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.boxTitulo--aula {
  color: #ffffff;
  display: flex;
  align-items: center;
  text-align: center;
  height: 5rem;
}

.botao--aula {
  width: 100%;
  height: 4rem;
  font-weight: 700;
  transition: .2s;
}

.botao--aula:hover {
  background-color: #6100C0;
  border: none;
  color: #ffffff;
}

.botao-ativo {
  background-color: #6100C0;
  color: #fff;
  border: none;
}

/* FIM CURSO */



/* INICIO MAINSCREEN*/

/* Gerais */
body {
  font-family: 'Montserrat', 'Roboto', sans-serif;
}

.row {
  margin: 0;
}

.container {
  padding: 70px 0;
}

p,
li {
  color: #444;
  font-size: 14px;
}

/* Barra de navegação */
header,
.navbar {
  background-color: #6100C0;
  ;
}

#nav-container {
  padding-top: 0;
  padding-bottom: 0;
}

#logo {
  width: 50px;
}

.navbar-brand {
  padding: 0;
  color: #FFF;
}

.navbar-brand:hover {
  color: #FFF;
}

#navbar-links a {
  color: #FFF;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 1rem .8rem;
}

.nav-item.active {
  border-bottom: 3px solid #FFF;
}

#home-menu,
#about-menu,
#services-menu,
#team-menu,
#portfolio-menu,
#contact-menu {
  color: #FFF;
  font-size: 20px;
  font-weight: 600;
}

/* Estilos para o carrossel */
.carousel {
  overflow: hidden;
  position: relative;

}

.carousel .carousel-inner,
.carousel .carousel-item {
  height: 95vh;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  flex: 0 0 100%;
  max-width: 100%;
  opacity: 0.5;
  transition: opacity 0.5s ease-in-out;
}

.carousel-item.active {
  opacity: 1;
}

.carousel .carousel-caption {
  top: 30%;
}

.carousel .carousel-caption h2 {
  color: #FFF;
  text-align: center;
  text-shadow: -6px 4px 0px 0px #8133CD;
  font-family: 'Montserrat';
  font-size: 60px;
  font-style: normal;
  font-weight: 950;
  line-height: normal;
  text-transform: uppercase;
}

.carousel .carousel-caption p {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 40px;
  color: #FFF;
}

.main-btn {
  background-color: #6100C0;
  color: #FFF;
  text-transform: uppercase;
  width: 200px;
  height: 60px;
  padding: 10px 20px;
  border-radius: 30px;
  border: 3px solid transparent;
  transition: .5s;
  text-decoration: none;
  margin-right: 25px;
}



.main-btn:hover {
  text-decoration: none;
  color: #FFF;
  background-color: transparent;
  border-color: #fff;
}

.carousel-indicators .active {
  background-color: #fff;
}

.main-title {
  position: relative;
  white-space: nowrap;
  color: #444;
  margin: 0 0 65px 0;
  font-size: 40px;
  text-align: center;
}

.main-title::after {
  content: "";
  border-top: 2px solid #333;
  width: 15%;
  position: absolute;
  top: 60px;
  left: 42.5%;
}

.about-title {
  font-size: 17px;
  color: #444;
  text-transform: uppercase;
  font-weight: bold;
}

#about-list {
  list-style: none;
  padding-left: 0;
}

#about-list li {
  line-height: 30px;
}



/* Serviços */

.service-box {
  text-align: center;
  margin-bottom: 50px;
}

.service-box i,
.service-box h4 {
  transition: .5s;
}

.service-box i {
  font-size: 36px;
  margin-bottom: 20px;
  color: #444;
}

.service-box:hover>i,
.service-box:hover>h4 {
  color: #6100C0;
}


/* Time */
.avatar {
  height: 270px;
}

.card-body {
  text-align: center;
  width: 60px;
}

.card-title,
.card-text {
  white-space: nowrap;

}

.low-img {
  width: 90%;
  height: auto;
  display: flex;
}

.portif-cont {
  padding: 0px;
  padding-left: 200px;
  padding-right: 200px;
  justify-content: center;
  align-items: center;
}

/* área tecnológica */ #apply-area {
  height: 500px;
}

#apply-area .container-fluid,
#apply-area .row {
  height: 100%;
}

#apply-area .apply-box {
  padding: 70px 50px;
  text-align: center;
}

/*#company-img {
  background-image: url('../img/empresa.jpg');
  background-size: cover;
  height: 100%;
}

#pattern-img h4, #pattern-img p {
  color: #FFF;/
}

#pattern-img h4 {
  margin-top: 8%;
  margin-bottom: 20px;
  text-transform: uppercase;
}

#pattern-img p {
  margin-bottom: 20px;
}

#apply-btn {
  display: block;
  height: auto;
  width: 180px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  background-color: transparent;
  border-color: #FFF;
}

#apply-btn:hover {
  border-color: #6100C0;
  background-color: #6100C0;
} */

/* Portfólio */

.project-box {
  margin-bottom: 30px;
}


#filter-btn-box {
  margin-bottom: 50px;
  text-align: center;
}

#portfolio-area .filter-btn {
  color: #444;
  border: 1px solid #444;
  background-color: transparent;
  text-transform: none;
  margin: 0 15px;
  min-width: 100px;
  width: auto;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
}

#portfolio-area .filter-btn.active,
#portfolio-area .filter-btn:hover {
  color: #FFF;
  border: 1px solid #6100C0;
  background-color: #6100C0;
}

/* News Letter */

#news-area {
  text-align: center;
  background-color: #F9F9F9;
}

#news-area p {
  font-size: 18px;
  margin-bottom: 40px;
}

#email-input {
  border-radius: 0;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border: 1px solid #6100C0;
  display: inline;
  box-sizing: border-box;
  width: 40%;
  height: 40px;
}

#news-btn {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 1px solid #6100C0;
  background-color: #6100C0;
  color: #FFF;
  height: 40px;
  padding: 0 41px;
  margin-left: -110px;
  position: absolute;
  transition: .5s;
}

#contact-form .main-btn {
  margin-top: 20px;
}


/* Footer */

#contact-area {
  text-align: center;
}

.contact-box {
  padding-bottom: 50px;
  margin-bottom: 50px;
  border-bottom: 1px solid #6100C0;
}



.contact-box p {
  font-size: 16px;
}

.contact-tile {
  font-weight: bold;
  color: #6100C0;
}

#msg-box p {
  font-size: 22px;
}

#contact-form input[type="text"],
#contact-form textarea {
  margin-bottom: 15px;
  border-radius: 0;
}

#contact-form .main-btn {
  width: 120px;
  height: 50px;
}

#contact-form .main-btn:hover {
  color: #6100C0;
}

/* Copy */

#copy-area {
  background-color: #F1F1F1;
}

#copy-area .container {
  padding: 10px 0;
  text-align: center;
}

#copy-area .container p {
  margin-bottom: 0;
}

#copy-area .container a {
  font-weight: bold;
  color: #444;
}

#copy-area .container a:hover {
  text-decoration: none;
  color: #6100C0;
}

/* responsive */
@media(max-width: 768px) {

  /* geral */
  .container {
    padding: 50px 0;
  }

  /* slider */
  .carousel .carousel-inner,
  .carousel .carousel-item {
    height: auto;
  }

  /* .carousel .carousel-caption h2 {
    font-size: 20px;
  } */

  .carousel .carousel-caption p {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .main-btn {
    padding: 6px 9px;
    font-size: 11px;
    width: 10px;
  }

  .carousel-caption {
    left: 10%;
    right: 10%;
  }

  /* about */
  #about-area img {
    margin-top: 10px;
  }

  /* team */
  .card-title {
    font-size: 14px;
  }

  .card-text {
    font-size: 12px;
  }

  .card {
    width: 225px;
    margin: auto;
    margin-bottom: 10px;
    height: 270px;
  }

  .card-img-top {
    height: 200px;
  }

  .card-body {
    width: 100%;
  }

  /* novidades */
  #contact-area h3 {
    white-space: nowrap;
    font-size: 32px;
  }

  /* news */
  #news-area h3 {
    white-space: nowrap;
    font-size: 28px;
  }

  /* apply */
  #portfolio-area .row {
    padding: 50px 25px;
    margin: auto;
    margin-left: 30px;
    margin-top: auto;
  }

  #filter-btn-box {
    margin-bottom: auto;
  }

  /* news */
  #news-area p {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  #email-input {
    width: 70%;
  }

  #call-area {
    margin-top: 30px;
  }

  #call-area .container {
    padding: 30px;
  }

  #call-area p,
  #call-area #call-btn {
    font-size: 16px;
  }



}


@media(max-width: 430px) {



  /* slider */
  .carousel {
    margin-top: 15px;
  }

  .carousel .carousel-caption {
    top: 20%;
  }

  .carousel .carousel-caption h2 {
    font-size: 20px;
    margin-bottom: 40px;
  }

  /* .carousel .carousel-caption p {
    font-size: 13px;
    margin-bottom: 10px;
  } */

  .carousel-caption .main-btn {
    padding: 3px 8px;
    font-size: 10px;
    width: 10px;
  }

  /* about */
  .main-title {
    font-size: 26px;
  }

  #about-area img {
    margin-top: 0;
    margin-bottom: 30px;
  }

  #news-area .main-title {
    font-size: 18px;
  }

  /* team */
  .card {
    width: 160px;
    margin: auto;
    margin-bottom: 10px;
    height: 270px;
  }

  .card-img-top {
    height: 190px;
  }

  .card-body {
    width: 100%;
  }

  .card-title {
    text-align: center;
  }

  /* filter */
  #portfolio-area .filter-btn {
    margin-bottom: 20px;
  }

  .project-box {
    width: 10%;
  }

  /* entre em contato conosco */
  #contact-area h3 {
    white-space: nowrap;
    font-size: 25px;
  }

  /* news */
  #news-area h3 {
    white-space: nowrap;
    font-size: 21px;
  }

  #news-area p {
    font-size: 16px;
  }

  #email-input {
    width: 80%;
  }

  #call-area p,
  #call-area #call-btn {
    font-size: 14px;
    letter-spacing: 0;
  }

  #call-area p,
  #call-area #call-btn {
    margin: 0;
    width: 50%;
  }

  /* contact */
  .contact-box {
    border: none;
    margin-bottom: 0;
  }

}

/*FIM MAIN SCREEN*/
