@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(100%);
  /* Inverter as cores do ícone */
}

button {
  cursor: pointer;
  transition: opacity .5s;
}

button:hover {
  opacity: .8;
}

/* INÍCIO ACESSO (LOGIN, CADASTRO, RECUPERAÇÃO DE SENHA, PERFIL) */

.container--acesso {
  background: url("./screen/img/capa.png") no-repeat center / cover;
  display: flex;
  height: 100%;
  justify-content: center;
  position: absolute;
  width: 100%;
}

.logo--acesso {
  height: 110px;
  position: fixed;
  width: 110px;
}

.box--acesso {
  align-items: flex-end;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.boxTransparente--acesso {
  align-items: center;
  background: rgba(28, 28, 28, 0.75);
  border-radius: 20px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  font-size: 17px;
  font-weight: 400;
  height: 484px;
  justify-content: center;
  margin-bottom: 1.5rem;
  position: absolute;
  width: 639px;
}

.titulo--acesso {
  text-align: center;
  text-transform: uppercase;

}

.login-form--acesso {
  margin-top: 3rem;
}

.login-form-group--acesso {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  position: relative;
}

.inputs--acesso {
  background: rgba(12, 12, 12, 0.75);
  border: 1px solid #ffffff;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.432);
  color: #ffffff;
  height: 43px;
  margin: 5px 0;
  padding: 0 6px;
  width: 513px;
}

.form-error--acesso {
  color: #A9E500;
  font-size: 12px;
  position: absolute;
  right: 0;
}

.boxBotao--acesso {
  display: flex;
  justify-content: center;
}

.botao--acesso {
  background-color: #ffffff;
  border: none;
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.24);
  color: #000;
  font-size: 17px;
  font-weight: 700;
  height: 50px;
  text-align: center;
  width: 150px;
}

/* FIM ACESSO (LOGIN, CADASTRO, RECUPERAÇÃO DE SENHA, PERFIL) */


/* INÍCIO TELA DE LOGIN */

.boxCaminhos--login {
  display: flex;
  flex-direction: column;
  height: 4rem;
  justify-content: space-between;
  margin-top: 2rem;
  text-align: center;
}

.recuperaSenha--login,
.cadastrar--login {
  color: #ffffff;
}

.cadastrar--login {
  margin-left: .3rem;
}

/* FIM TELA DE LOGIN */


/* INÍCIO TELA DE CADASTRO */

.logo--cadastro {
  height: 130px;
  margin-left: 1rem;
  position: fixed;
  width: 130px;
}

.botaoLogin--cadastro {
  position: fixed;
  margin-top: .5rem;
  margin-left: 85%;
  text-transform: uppercase;
  background-color: #6100C0;
  color: #ffffff;
}

.box--cadastro {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.boxTransparente--cadastro {
  align-items: center;
  background: rgba(28, 28, 28, 0.75);
  border-radius: 20px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat";
  font-size: 17px;
  font-weight: 400;
  height: 38rem;
  padding: 1rem 0;
  position: absolute;
  width: 639px;
}

.login-form--cadastro {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  margin-top: .5rem;
  padding: 0 3rem;
  width: 100%;
}

.login-form-group--cadastro {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: .5rem;
  position: relative;
}

.inputs--cadastro {
  background: rgba(12, 12, 12, 0.75);
  border: 1px solid #ffffff;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.432);
  color: #ffffff;
  cursor: text;
  height: 43px;
  margin: 4px 0;
  padding: 0 6px;
  width: 513px;
}

.containerBox {
  align-items: center;
  display: flex;
  height: 4.8rem;
  justify-content: space-between;
}

.boxDocumentos--cadastro {
  height: 100%;
}

.boxPermicao--cadastro {
  color: #ffffff;
  font-size: .8rem;
  margin: 0 .5rem 5rem 0;
  padding: 1rem;
  width: 21rem;
}

.checkPermicao--cadastro {
  cursor: pointer;
  margin-right: .4rem;
}

.links--cadastro {
  color: #ffffff;
}

/* FIM TELA DE CADASTRO */

/* INÍCIO TELA DE RECUPERAÇÃO DE SENHA */

.chaves--recsenha {
  margin-top: 2rem;
}

/* FIM TELA DE RECUPERAÇÃO DE SENHA */


/* INÍCIO TELA DE PERFIL */

.container--perfil {
  background: url("./screen/img/capa.png") no-repeat center / cover;
  height: 100%;
  position: absolute;
  width: 100%;
}

.cabecalho--perfil {
  position: absolute;
  width: 100%;
}

.containerUserData--perfil {
  margin-top: 1rem;
}

.boxUserData--perfil {
  margin: 5px 0 15px 0;
}

.dados--perfil {
  align-items: center;
  background: rgba(12, 12, 12, 0.75);
  border: 1px solid #ffffff;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.432);
  color: #797979;
  display: flex;
  height: 43px;
  margin-top: 5px;
  padding: 0 6px;
  user-select: none;
  width: 513px;
}

.carregando {
  font-size: 2rem;
  margin-top: 10rem;
}

/* FIM TELA DE PERFIL */

/* INÍCIO DOCUMENTAÇÃO (TERMOS E CONDIÇÕES, POLÍTICA DE PRIVACIDADE) */

.container--documentacao {
  background-color: #433E47;
  height: 100%;
  width: 100%;
}

.cabecalho--documentacao {
  display: flex;
  justify-content: center;
  height: 6rem;
  margin-bottom: 3rem;
}

.logo--documentacao {
  height: 150px;
  width: auto;
}

.corpo--documentacao {
  text-align: center;
  color: #ffffff;
  padding-bottom: 3rem;
}

.titulo--documentacao {
  font-size: 32px;
  font-weight: 700;
}

.conteudo--documentacao {
  margin-top: 2rem;
  text-align: start;
  padding: 0 10rem;
}

.secao--documentacao {
  margin-top: 2rem;
}

.tituloSecao--documentacao {
  margin-top: 2rem;
}

.conteudoSecao--documentacao {
  margin: 1rem 0;
}

.conteudoFinal--documentacao {
  margin-top: 2rem;
}

.lista--documentacao {
  padding-left: 2rem;
}


/* FIM DOCUMENTAÇÃO (TERMOS E CONDIÇÕES, POLÍTICA DE PRIVACIDADE) */
/* RESPONSIVIDADE */
@media(max-width: 768px){
  
  
  .logo--documentacao {
    height: 120px;
  } 
  
  .corpo--documentacao {
    font-size: 10px;
  
  }
  
  .titulo--documentacao {
    font-size: 20px;
   
  }
  
  .conteudo--documentacao {
    font-size: 15px;
    margin: 20px;
    padding: 40px;
  }
  
  .secao--documentacao {
    font-size: 15px;
  }
  
  .tituloSecao--documentacao {
    font-size: 18px;
  }
  
  .conteudoSecao--documentacao {
    font-size: 15px;
  }

}

@media(max-width: 430px){
  
  .logo--documentacao {
    height: 100px;
  } 
  
  .titulo--documentacao {
    font-size: 15px;
   
  }
  
  .conteudo--documentacao {
    font-size: 12px;
    margin: 15px;
    padding: 20px;
  }
  
  .secao--documentacao {
    font-size: 12px;

  }
  
  .tituloSecao--documentacao {
    font-size: 12px;
  }
  
  .conteudoSecao--documentacao {
    font-size: 12px;
  }
}
/* INÍCIO RODAPÉ */

.rodape {
  background-color: #000000;
}

.boxRodape {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.boxContato {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.logoRodape {
  width: 130px;
  height: 130px;
}

.link {
  color: #ffffff;
}

.boxRedes {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.boxRedesSociais {
  display: flex;
  justify-content: space-between;
  width: 25%;
  margin-bottom: 1rem;
}

.redesSociais {
  width: 24px;
  height: 24px;
  border: none;
}

.redesSociais.instagram {
  background: url("./screen/img/instagram.png") no-repeat center / cover;
}

.redesSociais.facebook {
  background: url("./screen/img/facebook.png") no-repeat center / cover;
}

.redesSociais.twitter {
  background: url("./screen/img/twitter.png") no-repeat center / cover;
}

.redesSociais.linkedin {
  background: url("./screen/img/linkedin.png") no-repeat center / cover;
}

.boxCopyRodape {
  color: #ffffff;
  text-align: center;
  margin-top: 2rem;
  padding-bottom: 1rem;
}

/* FIM RODAPÉ */


/* INÍCIO CURSO */

.container--curso {
  height: 100%;
  width: 100%;
}

.cabecalho--curso {
  align-items: center;
  background: url("./screen/img/capa.png") no-repeat center / cover;
  height: 10%;
  padding: 1rem 1rem 0 1rem;
  width: 100%;
}

.navegacao--curso {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.botaoVoltar--curso {
  display: flex;
  align-items: center;
  border: none;
  background-color: #dbdbdb;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  justify-content: center;
}

.iconVoltar--curso {
  background: url("./screen/img/angulo-esquerdo-preto.png") no-repeat center / cover;
  height: 40px;
  width: 40px;
}

.logoInicio--curso {
  background: url("./screen/img/logo-developer-kids.png") no-repeat center / cover;
  border: none;
  margin-top: -1rem;
  height: 94px;
  width: 94px;
}

.botaoPerfil--curso {
  background: url("./screen/img/perfil.png") no-repeat center / cover;
  background-color: #dbdbdb;
  border: none;
  border-radius: 100%;
  height: 54px;
  width: 54px;
}

.corpo--curso {
  background-color: #433E47;
  width: 100%;
  height: calc(100vh - 5.9rem);
}

.conteudo--curso {
  display: flex;
  width: 100%;
  height: 100%;
}

.ladoEsquerdo--curso {
  width: 25%;
  overflow: auto;
  height: 100%;
  min-width: 200px;
}

.container--aula {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.boxTitulo--aula {
  color: #ffffff;
  display: flex;
  align-items: center;
  text-align: center;
  height: 5rem;
}

.botao--aula {
  width: 100%;
  height: 4rem;
  font-weight: 700;
  transition: background .2s;
}

.botao--aula:hover {
  background-color: #6100C0;
  border: none;
  color: #ffffff;
}

.botao-ativo {
  background-color: #6100C0;
  color: #fff;
  border: none;
}

.boxVideo--aula {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.boxTitulo--aula {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.botoesAula--aula {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  border-radius: 20px;
  font-size: 17px;
  border: none;
  padding: 0 .5rem;
  font-weight: 700;
  height: 50px;
  transition: background .2s;
}

.botoesAula--aula:hover {
  background-color: #6100C0;
  border: none;
  color: #ffffff;
}

.botoesAula--aula.aulaNulo--aula {
  background-color: #797979;
}

.botoesAula--aula.aulaNulo--aula:hover {
  background-color: #797979;
  color: #000000;
  opacity: 1;
  cursor: default;
}

.iconVoltar--aula {
  background: url("./screen/img/seta-para-a-esquerda-preta.png") no-repeat center / cover;
  height: 44px;
  width: 44px;
  margin-right: .5rem;
}

.iconProceguir--aula {
  background: url("./screen/img/seta-para-a-direita-preta.png") no-repeat center / cover;
  height: 44px;
  width: 44px;
  margin-left: .5rem;
}

.ladoDireito--curso {
  padding: 1rem 1rem 0 1rem;
  width: 75%;
}

.linkJogo--aula {
  text-decoration: none;
  color: #000000;
  font-weight: 700;
  font-size: 2rem;

}

.imagem--aula {
  width: 672px;
  height: 378px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cargoBot--aula {
  background: url("./screen/img/CargoBot.png") no-repeat center / cover;
}

.doodle--aula {
  background: url("./screen/img/doodle-do-google.png") no-repeat center / cover;
}

.tetris--aula {
  background: url("./screen/img/tetris.png") no-repeat center / cover;
}

.cliqueAqui--aula {
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.9);
  border: none;
}

.cliqueAqui--aula.fundoPreto {
  color: #ffffff;
  text-shadow: 5px 5px 10px rgba(255, 255, 255, 0.9);
}

.boxQuestionario--aula {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.questionario--aula {
  background-color: #797979;
  border-radius: 20px;
  width: 672px;
  height: 450px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.questao--aula {
  font-weight: 700;
  margin: 1rem 0;
}

.listaOpcoes--aula {
  list-style-type: none;
  margin-left: 6px;
  display: grid;
  grid-template-rows: 6rem 4rem auto;
  grid-template-columns: 1fr 2fr;
  grid-row-gap: 0;
  /* Espaçamento vertical entre linhas */
  grid-column-gap: 1rem;
  /* Espaçamento horizontal entre colunas */
  justify-items: center;
  /* Alinhamento horizontal dos itens */
  align-items: center;
  /* Alinhamento vertical dos itens */
  justify-content: center;
  /* Alinhamento horizontal do grid dentro do contêiner */
  align-content: center;
  /* Alinhamento vertical do grid dentro do contêiner */
}

.opcao--aula {
  font-weight: 700;
  padding: 8px;
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 20px;
  margin-bottom: 4px;
  width: 20rem;
  margin-bottom: 1rem;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.opcao--aula:hover {
  background-color: #f0f0f0;
}

.resultado--aula {
  font-weight: 700;
  margin: 1rem 0;
}

.boxImagemQuestionario--aula {
  display: flex;
}

.imagemQuestionario--aula {
  width: 464px;
  height: 177px;
}

.imgResult--aula {
  width: 177px;
}

/* FIM CURSO */


/* INÍCIO TELAS APP (PÓS LOGIN/HOME E SALA DE AULA) */

.cabecalho--app {
  background: url("../src/screen/img/capa.png") no-repeat center / cover;
  height: 443px;
  display: flex;
  flex-direction: column;
}

.navegacaoCabecalho--app {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 2rem;
  align-items: center;
}

.logoInicio--app {
  background: url("../src/screen/img/logo-developer-kids.png") no-repeat center / cover;
  border: none;
  height: 94px;
  width: 94px;
}

.boxCabecalho--app {
  width: 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.botaoSair--app {
  background-color: #6100C0;
  border: none;
  border-radius: 15px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.24);
  color: #ffffff;
  font-size: 17px;
  font-weight: 700;
  height: 40px;
  text-align: center;
  width: 80px;
  text-transform: uppercase;
}

.botaoPerfil--app {
  background: url("./screen/img/perfil.png") no-repeat center / cover;
  background-color: #dbdbdb;
  border: none;
  border-radius: 100%;
  height: 54px;
  width: 54px;
}

.boxTituloCabecalho--app {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
}

.tituloCabecalho--app {
  color: #ffff;
  text-shadow: 5px 5px 0px #6100C0;
  font-size: 64px;
  font-weight: 900;
  text-transform: uppercase;
}

.corpo--app {
  background-color: #433e47;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tituloCorpo--app {
  color: #ffff;
  text-shadow: 3px 3px 0px #6100C0;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 1.5rem 0;
}

.saladeaula--app {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.serie--app {
  width: 160px;
  height: 70px;
  background: #000000;
  border-radius: 20px;
  border: none;
  color: #6100C0;
  font-size: 17px;
  font-weight: bold;
}

.serie--app:hover {
  transform: scale(1.1);
}

.jogos--app,
.aulas--app {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 360px;
  width: 100%;
}

.carrossel--app {
  max-width: 80vw;
  height: 100%;
  display: flex;
  align-items: center;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.carrossel--app::-webkit-scrollbar {
  display: none;
}

.link--app {
  text-decoration: none;
}

.botaoJogo--app,
.botaoAula--app {
  width: 250px;
  height: 311px;
  background: #6100C0;
  color: #ffffff;
  text-align: center;
  border-radius: 20px;
  transition: transform 0.2s;
  border: none;
  display: flex;
  flex-direction: column;
  margin: 0 20px;
  flex: none;
}

.botaoJogo--app:hover,
.botaoAula--app:hover {
  transform: scale(1.1);
  background-image: linear-gradient(45deg, #0000, #040408);
}

.imagemJogo--app,
.imagemAula--app {
  width: 100%;
  height: auto;
  text-align: center;
  border-radius: 15px 15px 0 0;
}

.imagemAula--app {
  border-radius: 15px;
  height: 100%;
}

.boxNomeJogo--app,
.boxNomeAula--app {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}

.nomeJogo--app,
.nomeAula--app {
  font-weight: 700;
  font-size: 20px;
}

.esquerda--app {
  background: url("./screen/img/angulo-esquerdo.png") no-repeat center / cover;
}

.direita--app {
  background: url("./screen/img/angulo-direito.png") no-repeat center / cover;
}

.seta--app {
  width: 30px;
  height: 30px;
  border: none;
  margin: 0 1rem;
}

/* FIM TELAS APP (PÓS LOGIN/HOME E SALA DE AULA) */



/* RESPONSIVIDADE */
@media(max-width: 768px) {

  /* INÍCIO ACESSO (LOGIN, CADASTRO, RECUPERAÇÃO DE SENHA, PERFIL) */

  .logo--acesso {
    height: 115px;
    width: 115px;
  }

  .boxTransparente--acesso {
    height: 424px;
    margin-bottom: -6rem;
    padding-top: 0;
    width: 589px;
  }

  .titulo--acesso {
    font-size: 1.5rem;
  }

  .botao--acesso {
    border-radius: 15px;
    font-size: 13px;
    height: 42px;
    width: 110px;
  }

  /* FIM ACESSO (LOGIN, CADASTRO, RECUPERAÇÃO DE SENHA, PERFIL) */

  /* INÍCIO TELA DE CADASTRO */

  .logo--cadastro {
    height: 90px;
    margin-left: 1rem;
    position: fixed;
    width: 90px;
  }

  .box--acesso {
    align-items: center;

  }

  .botaoLogin--cadastro {
    position: fixed;
    margin-top: .5rem;
    margin-left: 85%;
    text-transform: uppercase;
    background-color: #6100C0;
    color: #ffffff;
  }

  .boxTransparente--cadastro {
    height: 33rem;
    padding: .3rem 0;
    width: 520px;
  }

  .login-form-group--cadastro {
    margin-bottom: .3rem;
    width: 100%;
  }

  .label--cadastro {
    font-size: .9rem;
  }

  .inputs--cadastro {
    height: 38px;
    padding: 0 6px;
    width: 100%;
  }

  /* FIM TELA DE CADASTRO */


  /* INÍCIO RECUPERAÇÃO DE SENHA */

  .chaves--recsenha {
    width: 9rem;
  }

  /* FIM RECUPERAÇÃO DE SENHA */

  /* INÍCIO TELA DE PERFIL */

  .containerUserData--perfil {
    margin-top: .5rem;
    width: 100%;
    padding: 0 5rem;
  }

  .boxUserData--perfil {
    margin: 5px 0 10px 0;
  }

  .dados--perfil {
    border-radius: 10px;
    height: 38px;
    margin-top: 5px;
    width: 100%;
  }

  /* FIM TELA DE PERFIL */

  /* INÍCIO CURSO */

  .cabecalho--curso {
    height: 5rem;
    padding: 1rem 1rem 0 1rem;
    width: 100%;
  }

  .navegacao--curso {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
  }

  .botaoVoltar--curso {
    display: flex;
    align-items: center;
    border: none;
    background-color: #dbdbdb;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    justify-content: center;
  }

  .iconVoltar--curso {
    background: url("./screen/img/angulo-esquerdo-preto.png") no-repeat center / cover;
    height: 40px;
    width: 40px;
  }

  .logoInicio--curso {
    border: none;
    margin-top: -1rem;
    height: 94px;
    width: 94px;
  }

  .botaoPerfil--curso {
    background: url("./screen/img/perfil.png") no-repeat center / cover;
    background-color: #dbdbdb;
    border: none;
    border-radius: 100%;
    height: 54px;
    width: 54px;
  }

  .corpo--curso {
    background-color: #433E47;
    width: 100%;
    height: calc(100vh - 5.9rem);
  }

  .conteudo--curso {
    display: flex;
    width: 100%;
    height: 100%;
  }

  .ladoEsquerdo--curso {
    width: 25%;
    overflow: auto;
    height: 100%;
    min-width: 200px;
  }

  .container--aula {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .boxTitulo--aula {
    color: #ffffff;
    display: flex;
    align-items: center;
    text-align: center;
    height: 5rem;
  }

  .botao--aula {
    width: 100%;
    height: 4rem;
    font-weight: 700;
    transition: background .2s;
  }

  .botao--aula:hover {
    background-color: #6100C0;
    border: none;
    color: #ffffff;
  }

  .botao-ativo {
    background-color: #6100C0;
    color: #fff;
    border: none;
  }

  .boxVideo--aula {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .boxTitulo--aula {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }

  .botoesAula--aula {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    border-radius: 20px;
    font-size: 17px;
    border: none;
    padding: 0 .5rem;
    font-weight: 700;
    height: 50px;
    transition: background .2s;
  }

  .botoesAula--aula:hover {
    background-color: #6100C0;
    border: none;
    color: #ffffff;
  }

  .botoesAula--aula.aulaNulo--aula {
    background-color: #797979;
  }

  .botoesAula--aula.aulaNulo--aula:hover {
    background-color: #797979;
    color: #000000;
    opacity: 1;
    cursor: default;
  }

  .iconVoltar--aula {
    background: url("./screen/img/seta-para-a-esquerda-preta.png") no-repeat center / cover;
    height: 44px;
    width: 44px;
    margin-right: .5rem;
  }

  .iconProceguir--aula {
    background: url("./screen/img/seta-para-a-direita-preta.png") no-repeat center / cover;
    height: 44px;
    width: 44px;
    margin-left: .5rem;
  }

  .ladoDireito--curso {
    padding: 1rem 1rem 0 1rem;
    width: 75%;
  }

  .linkJogo--aula {
    text-decoration: none;
    color: #000000;
    font-weight: 700;
    font-size: 2rem;

  }

  .imagem--aula {
    width: 672px;
    height: 378px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cargoBot--aula {
    background: url("./screen/img/CargoBot.png") no-repeat center / cover;
  }

  .doodle--aula {
    background: url("./screen/img/doodle-do-google.png") no-repeat center / cover;
  }

  .tetris--aula {
    background: url("./screen/img/tetris.png") no-repeat center / cover;
  }

  .cliqueAqui--aula {
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.9);
    border: none;
  }

  .cliqueAqui--aula.fundoPreto {
    color: #ffffff;
    text-shadow: 5px 5px 10px rgba(255, 255, 255, 0.9);
  }

  .boxQuestionario--aula {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .questionario--aula {
    background-color: #797979;
    border-radius: 20px;
    width: 672px;
    height: 450px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .questao--aula {
    font-weight: 700;
    margin: 1rem 0;
  }

  .listaOpcoes--aula {
    list-style-type: none;
    margin-left: 6px;
    display: grid;
    grid-template-rows: 6rem 4rem auto;
    grid-template-columns: 1fr 2fr;
    grid-row-gap: 0;
    /* Espaçamento vertical entre linhas */
    grid-column-gap: 1rem;
    /* Espaçamento horizontal entre colunas */
    justify-items: center;
    /* Alinhamento horizontal dos itens */
    align-items: center;
    /* Alinhamento vertical dos itens */
    justify-content: center;
    /* Alinhamento horizontal do grid dentro do contêiner */
    align-content: center;
    /* Alinhamento vertical do grid dentro do contêiner */
  }

  .opcao--aula {
    font-weight: 700;
    padding: 8px;
    cursor: pointer;
    background-color: #ffffff;
    border-radius: 20px;
    margin-bottom: 4px;
    width: 20rem;
    margin-bottom: 1rem;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
  }

  .opcao--aula:hover {
    background-color: #f0f0f0;
  }

  .resultado--aula {
    font-weight: 700;
    margin: 1rem 0;
  }

  .boxImagemQuestionario--aula {
    display: flex;
  }

  .imagemQuestionario--aula {
    width: 464px;
    height: 177px;
  }

  .imgResult--aula {
    width: 177px;
  }

  /* FIM CURSO */

  /* INÍCIO RODAPÉ */

  .rodape {
    font-size: 15px;
  }

  .logoRodape {
    width: 90px;
    height: 90px;
  }

  .redesSociais {
    width: 18px;
    height: 18px;
    /* border: none; */
  }

  /* FIM RODAPÉ */


  /* INÍCIO TELAS APP (PÓS LOGIN/HOME E SALA DE AULA) */

  .navegacaoCabecalho--app {
    padding: 0 1rem;
  }

  .tituloCabecalho--app {
    text-align: center;
    width: 30rem;
  }

  .tituloCorpo--app {
    font-size: 1.3rem;
  }

  .serie--app {
    width: 90px;
    height: 50px;
    border-radius: 18px;
  }

  .jogos--app,
  .aulas--app {
    height: 260px;
  }

  .botaoJogo--app,
  .botaoAula--app {
    width: 150px;
    height: 211px;
  }

  .imagemAula--app {
    border-radius: 15px;
    height: 100%;
  }

  .nomeJogo--app,
  .nomeAula--app {
    font-weight: 700;
    font-size: 13px;
  }

  .seta--app {
    width: 25px;
    height: 25px;
  }

  /* FIM TELAS APP (PÓS LOGIN/HOME E SALA DE AULA) */
}


@media(max-width: 430px) {
  /* INÍCIO ACESSO (LOGIN, CADASTRO, RECUPERAÇÃO DE SENHA, PERFIL) */

  .logo--acesso {
    height: 70px;
    width: 70px;
  }

  .boxTransparente--acesso {
    margin-bottom: 0;
    border-radius: 20px;
    font-size: 17px;
    height: 22rem;
    width: 305px;
  }

  .titulo--acesso {
    font-size: 1.2rem;
  }

  .login-form--acesso {
    width: 100%;
    padding: 0 2rem;
  }

  .login-form-group--acesso {
    width: 100%;
  }

  .inputs--acesso {
    border-radius: 8px;
    height: 30px;
    margin: 5px 0;
    padding: 0 6px;
    width: 100%;
    font-size: .5rem;
  }

  .form-error--acesso {
    font-size: .4rem;
  }

  .botao--acesso {
    border-radius: 8px;
    font-size: .5rem;
    height: 2rem;
    width: 70px;
    font-weight: 900;
  }

  /* FIM ACESSO (LOGIN, CADASTRO, RECUPERAÇÃO DE SENHA, PERFIL) */

  /* INÍCIO TELA DE LOGIN */

  .labelInputs--login {
    font-size: 13px;
  }

  .boxCaminhos--login {
    font-size: 13px;
    height: 3rem;
    margin-top: 1rem;
  }

  /* FIM TELA DE LOGIN */

  /* INÍCIO TELA DE CADASTRO */

  .logo--cadastro {
    height: 60px;
    width: 60px;
    margin-left: .1rem;
    margin-top: -.1rem;
  }

  .botaoLogin--cadastro {
    margin-top: .3rem;
    margin-left: 82%;
    font-size: .5rem;
    width: 4rem;
    height: 2rem;
    border-radius: 8px;
  }

  .boxTransparente--cadastro {
    height: 29rem;
    padding: .1rem 0;
    width: 305px;
  }

  .login-form--cadastro {
    padding: 0 2rem;
  }

  .login-form-group--cadastro {
    margin-bottom: .1rem;
    width: 100%;
  }

  .label--cadastro {
    font-size: .6rem;
  }

  .inputs--cadastro {
    height: 28px;
    padding: 0 6px;
    width: 100%;
    font-size: .5rem;
    border-radius: 8px;
  }

  .boxPermicao--cadastro {
    color: #ffffff;
    font-size: .6rem;
    margin: 0 .5rem 5rem 0;
    padding: 1rem 0;
    width: 12rem;
  }

  .documentacao--cadastro {
    font-size: .6rem;
  }

  /* FIM TELA DE CADASTRO */

  /* INÍCIO RECUPERAÇÃO DE SENHA */

  .chaves--recsenha {
    width: 5rem;
  }

  /* FIM RECUPERAÇÃO DE SENHA */

  /* INÍCIO TELA DE PERFIL */

  .containerUserData--perfil {
    padding: 0 1rem;
  }

  .boxUserData--perfil {
    margin: 2px 0 10px 0;
  }

  .tipoDado--perfil {
    font-size: 13px;
  }

  .dados--perfil {
    border-radius: 8px;
    height: 28px;
    margin-top: 5px;
    font-size: 13px;
  }

  /* FIM TELA DE PERFIL */
}

/* INICIO MAINSCREEN*/

/* Gerais */
body {
  font-family: 'Montserrat','Roboto', sans-serif;
}

.row {
  margin: 0;
}

.container {
  padding: 70px 0;
}

p, li {
  color: #444;
  font-size: 14px;
}

/* Barra de navegação */
header, .navbar {
  background-color: #6100C0;;
}

#nav-container {
  padding-top: 0;
  padding-bottom: 0;
}

#logo {
  width: 80px;
}

.navbar-brand {
  padding: 0;
  color: #FFF;
}

.navbar-brand:hover {
  color: #FFF;
}

#navbar-links a {
  color: #FFF;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 1rem .8rem;
}

.nav-item.active {
  border-bottom: 3px solid #FFF;
}

/* Slider */

.container-fluid {
  padding: 0;
}

#mainSlider .carousel-inner, #mainSlider .carousel-item {
  height: 95vh;
}

#mainSlider .carousel-caption {
  top: 30%;
}

#mainSlider .carousel-caption h2 {
  color: #FFF;
  text-align: center;
  text-shadow: -6px 4px 0px 0px #8133CD;
  font-family: 'Montserrat' ;
  font-size: 64px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
}

#mainSlider .carousel-caption p {
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 100px;
  color: #FFF;
}

.main-btn {
  background-color: #6100C0;
  color: #FFF;
  text-transform: uppercase;
  width: 200px;
  height: 60px;
  padding: 10px 20px;
  border-radius: 30px;
  border: 3px solid transparent;
  transition: .5s;
}

.main-btn:hover {
  text-decoration: none;
  color: #FFF;
  background-color: transparent;
  border-color: #fff;
}

.carousel-indicators .active {
  background-color: #fff;
}

/* Sobre a empresa */

#about-area {
  background-color: #F9F9F9;
}

.main-title {
  color: #444;
  margin: 0 0 65px 0;
  font-size: 40px;
  text-align: center;
}

.main-title::after {
  content: "";
  border-top: 2px solid #333;
  width: 15%;
  position: absolute;
  top: 60px;
  left: 42.5%;
}

.about-title {
  font-size: 17px;
  color: #444;
  text-transform: uppercase;
  font-weight: bold;
}

#about-list {
  list-style: none;
  padding-left: 0;
}

#about-list li {
  line-height: 30px;
}

#about-list i {
  color: #6100C0;
  margin-right: 15px;
}

/* Serviços */

.service-box {
  text-align: center;
  margin-bottom: 50px;
}

.service-box i, .service-box h4 {
  transition: .5s;
}

.service-box i {
  font-size: 36px;
  margin-bottom: 20px;
  color: #444;
}

.service-box h4 {
  font-size: 24px;
  margin-bottom: 20px;
}

.service-box:hover > i, .service-box:hover > h4 {
  color: #6100C0;
}

/* Dados */

.circle-box div {
  padding: 0 40px;
}

.progressbar-text {
  font-weight: bold;
  font-size: 32px;
}

#data-area p {
  color: #FFF;
  text-align: center;
  font-size: 26px;
  margin-top: 20px;
}

/* Time */
.avatar{
  height: 270px;
}
.card{
  min-height: 300px;
}
.card-body {
  text-align: center;
}

/* área tecnológica  */

#apply-area {
  height: 500px;
}

#apply-area .container-fluid, #apply-area .row {
  height: 100%;
}

#apply-area .apply-box {
  padding: 70px 50px;
  text-align: center;
}

/*#company-img {
  background-image: url('../img/empresa.jpg');
  background-size: cover;
  height: 100%;
}*/

#pattern-img h4, #pattern-img p {
  color: #FFF;
}

#pattern-img h4 {
  margin-top: 8%;
  margin-bottom: 20px;
  text-transform: uppercase;
}

#pattern-img p {
  margin-bottom: 20px;
}

#apply-btn {
  display: block;
  height: auto;
  width: 180px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  background-color: transparent;
  border-color: #FFF;
}

#apply-btn:hover {
  border-color: #6100C0;
  background-color: #6100C0;
}

/* Portfólio */

.project-box {
  margin-bottom: 30px;
}

#filter-btn-box {
  margin-bottom: 50px;
  text-align: center;
}

#portfolio-area .filter-btn {
  color: #444;
  border: 1px solid #444;
  background-color: transparent;
  text-transform: none;
  margin: 0 15px;
  min-width: 100px;
  width: auto;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
}

#portfolio-area .filter-btn.active, #portfolio-area .filter-btn:hover {
  color: #FFF;
  border: 1px solid #6100C0;
  background-color: #6100C0;
}

/* News Letter */

#news-area {
  text-align: center;
  background-color: #F9F9F9;
}

#news-area p {
  font-size: 18px;
  margin-bottom: 40px;
}

#email-input {
  border-radius: 0;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border: 1px solid #6100C0;
  display: inline;
  box-sizing: border-box;
  width: 40%;
  height: 40px;
}

#news-btn {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 1px solid #6100C0;
  background-color: #6100C0;
  color: #FFF;
  text-transform: uppercase;
  height: 40px;
  padding: 0 30px;
  margin-left: -130px;
  position: absolute;
  transition: .5s;
}

#news-btn:hover {
  background-color: #FFF;
  color: #65DAF9;
}


/* Footer */

#contact-area {
  text-align: center;
}

.contact-box {
  padding-bottom: 50px;
  margin-bottom: 50px;
  border-bottom: 1px solid #6100C0;
}

.contact-box i {
  color: #444;
  border: solid 1px #444;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  line-height: 55px;
  font-size: 24px;
  margin-bottom: 20px;
}

.contact-box p {
  font-size: 16px;
}

.contact-tile {
  font-weight: bold;
  color: #6100C0;
}

#msg-box p {
  font-size: 22px;
}

#contact-form input[type="text"], #contact-form textarea {
  margin-bottom: 15px;
  border-radius: 0;
}

#contact-form .main-btn {
  width: 120px;
  height: 50px;
}

#contact-form .main-btn:hover {
  color: #6100C0;
}

/* Copy */

#copy-area {
  background-color: #F1F1F1;
}

#copy-area .container {
  padding: 10px 0;
  text-align: center;
}

#copy-area .container p {
  margin-bottom: 0;
}

#copy-area .container a {
  font-weight: bold;
  color: #444;
}

#copy-area .container a:hover {
  text-decoration: none;
  color: #6100C0;
}

/* responsive */
@media(max-width: 768px) {
  
  /* geral */
  .container {
    padding: 20px 0;
  }
  
  /* slider */
  #mainSlider .carousel-inner, #mainSlider .carousel-item {
    height: auto;
  }

  #mainSlider .carousel-caption h2 {
    font-size: 28px;
  }

  #mainSlider .carousel-caption p {
    font-size: 18px;
    margin-bottom: 40px;
  }

  .carousel-caption {
    left: 10%;
    right: 10%;
  }
  
  /* about */
  #about-area img {
    margin-top: 100px;
  }
  
  /* data */
  .circle-box div {
    padding: 0 10px;
  }

  #data-area p {
    font-size: 16px;
  }
  
  /* team */
  .card-title {
    font-size: 14px;
  }

  .card-text {
    font-size: 12px;
  }

  /* apply */
  #apply-area .apply-box {
    padding: 50px 25px;
  }

  /* news */
  #news-area p {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  #email-input {
    width: 70%;
  }

  #call-area {
    margin-top: 30px;
  }

  #call-area .container {
    padding: 30px;
  }

  #call-area p, #call-area #call-btn {
    font-size: 16px;
  }

}


@media(max-width: 430px) {

  /* slider */
  #mainSlider {
    margin-top: 90px;
  }

  #mainSlider .carousel-caption {
    top: 5%;
  }

  #mainSlider .carousel-caption h2 {
    font-size: 27px;
    margin-bottom: 40px;
  }

  #mainSlider .carousel-caption p {
    display: none;
  }

  .carousel-caption .main-btn {
    
    font-size: 10px;
  }

  /* about */
  .main-title {
    font-size: 30px;
  }

  #about-area img {
    margin-top: 0;
    margin-bottom: 30px;
  }

  /* data */
  .circle-box {
    width: 50%;
  }

  #team-area .col-md-3 {
    width: 50%;
    margin-bottom: 30px;
  }

  /* team */
  .card {
    width: 150px;
    margin: auto;
  }

  /* apply */
  #apply-area {
    height: auto;
  }

  #company-img {
    display: none;
  }

  /* filter */
  #portfolio-area .filter-btn {
    margin-bottom: 20px;
  }

  .project-box {
    width: 50%;
  }

  /* news */
  #news-area .main-title {
    font-size: 24px;
  }

  #news-area p {
    font-size: 16px;
  }

  #email-input {
    width: 80%;
  }

  #call-area p, #call-area #call-btn {
    font-size: 14px;
    letter-spacing: 0;
  }

  #call-area p, #call-area #call-btn {
    margin: 0;
    width: 50%;
  }

  /* contact */
  .contact-box {
    border: none;
    margin-bottom: 0;
  }

}

/*FIM MAIN SCREEN*/